<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Snake.BLL.Properties.Settings>
            <setting name="Step" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxXFieldLength" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxYFieldLength" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MinXFieldLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinYFieldLength" serializeAs="String">
                <value>0</value>
            </setting>
        </Snake.BLL.Properties.Settings>
    </applicationSettings>
</configuration>